
.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 140px auto 20px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
	color:#108a93;
}
.checkbox input{
	position:relative;
	top:-4px;
	right:15px;
}